<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.triton.johnson_tap_app">
    <!-- multiscreens support -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="m">
        <activity
            android:name=".SampleActivity"
            android:exported="true">

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

        </activity>
        <activity
            android:name=".SearchActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".ImageUploadActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".InputValueFormListActivity"
            android:exported="false" />
        <activity
            android:name=".Paused_ServicesActivity"
            android:exported="false" />
        <activity
            android:name=".Customer_DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Agent_ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Change_PasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Job_DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ServicesActivity"
            android:exported="false" />
        <activity
            android:name=".Preventive_ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".Preventive_MaintenanceActivity"
            android:exported="false" />
        <activity
            android:name=".Job_StatusActivity"
            android:exported="false" />
        <activity
            android:name=".Main_Menu_ServicesActivity"
            android:exported="false" />
        <activity
            android:name=".Dashbaord_MainActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".Spinner_addActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".RTGS_PopActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Main3Activity"
            android:exported="true" />
        <activity
            android:name=".Main2Activity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".DownloadapkfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Pending_Collection_ReviewActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.Enquiry_Status_ReviewActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.Daily_Collection_DetailsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.UI_Serv_LeadsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UI_Servenq_RequestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- Activity Based -->
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />
             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>

        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>